---
const { title, description } = Astro.props
---

<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>Wohooo!</h2>
        <p>Familia, voy a estar en Bogota!</p>
      </section>
    </div>
    <div>
      <section>
        <h2>Cuando?</h2>
        <p>Del 31 de diciembre al 23 de enero</p>
      </section>
    </div>
    <div>
      <section>
        <h2>Busco planes...</h2>
        <p>Que hacemos el 31 y reyes?</p>
      </section>
    </div>

    <div>
      <section>
        <h2>Siganme en ...</h2>
        <ul class="icons">
          <li>
            <a href="https://linkedin.com/in/1diazdev" class="icon brands fa-linkedin-in" aria-label="Social">
              <span class="label">LinkedIn</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/juanpablodiaz" class="icon brands fa-github" aria-label="Social">
              <span class="label">GitHub</span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/1diazdev" class="icon brands fa-twitter" aria-label="Social">
              <span class="label">Twitter</span>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/1diazdev" class="icon brands fa-instagram" aria-label="Social">
              <span class="label">Instagram</span>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</footer>
