---
const { title } = Astro.props
---

<div id="wrapper">
  <header id="header">
    <!-- <h1>{title}</h1> -->
    <h1>Recordar Es vivir!</h1>
    <nav>
      <ul>
        <li>
          <a href="#footer" class="icon solid fa-info-circle">dame click</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
